@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a mi página web!</h1>
    <p>Aprende sobre <a href="https://platzicursoweb-erc7bwfxg0chfpdx.brazilsouth-01.azurewebsites.net/">la construcción de aplicaciones web con ASP.NET Core</a>.</p>
</div>
